{% extends "appbuilder/base.html" %}
{# lib.html might be needed if widgets.edit() relies on it indirectly via form.html #}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ title }}</h3>
                </div>
                <div class="panel-body">
                    {# This is how register_user.html renders its form widget #}
                    {{ widgets.edit()|safe }}
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('AuthDBView.login') }}">{{ _("Back to login") }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 