{% extends "appbuilder/base.html" %}
{# lib.html might be needed if widgets.edit() relies on it indirectly via form.html #}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ title }}</h3>
                </div>
                <div class="panel-body">
                     {# This is how register_user.html renders its form widget #}
                     {# Note: The default form widget might include its own <form> tags and submit. #}
                     {# If action URL needs token, this might need adjustment or custom widget. #}
                    {{ widgets.edit()|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 